<!--<beans>-->
<!--&lt;!&ndash;    <bean id="userDao" class="cn.xiaolong.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>&ndash;&gt;-->
<!--    <bean id="userService" class="cn.xiaolong.bean.UserService" scope="prototype">-->
<!--        <property name="uId" value="10001"/>-->
<!--        <property name="company" value="腾讯"/>-->
<!--        <property name="location" value="深圳"/>-->
<!--        <property name="userDao" ref="proxyUserDao"/>-->
<!--    </bean>-->

<!--    <bean id="proxyUserDao" class="cn.xiaolong.bean.ProxyBeanFactroy"/>-->

<!--&lt;!&ndash;    <bean class="cn.xiaolong.common.MyBeanPostProcessor"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <bean class="cn.xiaolong.common.MyBeanFactoryPostProcessor"/>&ndash;&gt;-->
<!--</beans>-->


<!--<beans>-->

<!--    <bean class="cn.xiaolong.event.ContextRefreshedEventListener"/>-->

<!--    <bean class="cn.xiaolong.event.CustomEventListener"/>-->

<!--    <bean class="cn.xiaolong.event.ContextClosedEventListener"/>-->

<!--</beans>-->

<!--<beans>-->

<!--    <bean id="userService" class="cn.xiaolong.bean.UserService"/>-->

<!--    <bean class="com.xiaolong.aop.framework.autoProxy.DefaultAdvisorAutoProxyCreator"/>-->

<!--    <bean id="beforeAdvice" class="cn.xiaolong.bean.UserServiceBeforeAdvice"/>-->

<!--    <bean id="methodInterceptor" class="com.xiaolong.aop.framework.adapter.MethodBeforeAdviceInterceptor">-->
<!--        <property name="advice" ref="beforeAdvice"/>-->
<!--    </bean>-->

<!--    <bean id="pointcutAdvisor" class="com.xiaolong.aop.aspectj.AspectJExpressionPointcutAdvisor">-->
<!--        <property name="expression" value="execution(* cn.xiaolong.bean.IUserService.*(..))"/>-->
<!--        <property name="advice" ref="methodInterceptor"/>-->
<!--    </bean>-->

<!--</beans>-->


<!--<?xml version="1.0" encoding="UTF-8"?>-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context">

    <bean class="com.xiaolong.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <context:component-scan base-package="cn.xiaolong.bean"/>

</beans>



