<!--<beans>-->
<!--&lt;!&ndash;    <bean id="userDao" class="cn.xiaolong.bean.UserDao" init-method="initDataMethod" destroy-method="destroyDataMethod"/>&ndash;&gt;-->
<!--    <bean id="userService" class="cn.xiaolong.bean.UserService" scope="prototype">-->
<!--        <property name="uId" value="10001"/>-->
<!--        <property name="company" value="腾讯"/>-->
<!--        <property name="location" value="深圳"/>-->
<!--        <property name="userDao" ref="proxyUserDao"/>-->
<!--    </bean>-->

<!--    <bean id="proxyUserDao" class="cn.xiaolong.bean.ProxyBeanFactroy"/>-->

<!--&lt;!&ndash;    <bean class="cn.xiaolong.common.MyBeanPostProcessor"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <bean class="cn.xiaolong.common.MyBeanFactoryPostProcessor"/>&ndash;&gt;-->
<!--</beans>-->


<beans>

    <bean class="cn.xiaolong.event.ContextRefreshedEventListener"/>

    <bean class="cn.xiaolong.event.CustomEventListener"/>

    <bean class="cn.xiaolong.event.ContextClosedEventListener"/>

</beans>
